.header{
    z-index: 3;
    background-color: #FFF;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ececec;
}
.headerWrap{
    height: 100%;
    max-width: 1060px;
    width: 87.72%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.headerWrap *{
    font-weight: 600;
}
.headerItem{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerItem *{
    white-space: nowrap;
}
.headerItem button{
    background-color: white;
    border: none;
}
.hamburger{
    height: 17px;
    width: 23px;
    margin: -2px 15px 0px 0px;
}
.header img, .modalHeader img{
    object-fit: contain;
}
.navButton a{
    position: relative;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    padding: 15px;
}
.navButton span{
    position: absolute;
    top: 5px;
    font-size: 9px;
    font-weight: 500;
    color: blue;
}
.navButton a:hover{
    height: 48px;
    padding: 14px 15px;
    border-bottom: 2px solid #e1e2e3;
}
.searchButton{
    height: 30px;
    width: 38px;
    margin: 5px 0px 0px;
    padding: 0px 10px;
}
.signUpButton{
    height: 30px;
    font-size: 14px;
    padding: 0px 15px;
}
.verticalLine{
    margin: 10px;
    height: 10px;
    border-right: 1px solid #bbbbbb;
}
.headerItem .enterpriseButton{
    height: 30px;
    text-align: center;
    border: 1px solid #e1e2e3;
    color: #666;
    font-weight: 400;
    border-radius: 15px;
    font-size: 13px;
    padding: 0px 10px;
    margin-left: 10px;
}
.headerWrap div:first-child{
    position: relative;
}
.menuWrap, .submenuWrap{
    position: absolute;
    top: 35px;
    z-index: 2;
}
.menuWrap > ul{
    position: inherit;
    max-height: calc(100vh - 60px);
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: flex-start;
    align-items: flex-start;
}
.menuWrap > ul > li{
    width: 100%;
    background-color: #fff;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    vertical-align: center;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
}
.menuWrap > ul > li:hover, .submenuWrap > ul > li:hover{
    color:#36f;
    background-color: #e8f6fd;
}
.menuWrap > ul > li >span, .submenuWrap > ul > li >span{
    margin: 0 5px;
    top: -3px;
    position: relative;
}
.submenuWrap{
    left: 180px;
}
.submenuWrap > ul{
    position: inherit;
    width: 400px;
    max-height: calc(100vh - 60px);
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #e8f6fd;
    flex-grow: 1;
}
.submenuWrap > ul > li{
    width: 200px;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    vertical-align: center;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}